<form method="POST" action="/repeater" class="display: inline">
  <input type="hidden" name="key" value="<%= key %>" />
  <input type="hidden" name="value" value="<%= value %>" />
  <button type="submit" class="button">
    <%= value %>
  </button>
</form>
